<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur The gossip project !</h1>
    <a href="/gossips/new/">Clique ici pour creer un nouveau potin</a>

    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
    
  </body>
</html>